.cover__page {
    background-image: url('../../assets/img/home_movil.png');
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 80vh;
    background-color: #199FFF;
}

.desktop_info{
    display: none;
    color: white;
}

.mobile_info{
    text-align: center;
    margin-top: 20%;
    display: block;
    color: white;
}

.contratar__Web{
  display: none;
}
.poster__ad {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.grid_double {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  min-height: 40vh;
  height: inherit;
}

.grid_double div {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.grid_double div div {
  flex: 1 1;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.grid_double div div div{
  padding: 40% 0%;
}
@media screen and (min-width: 768px) {

  .contratar__Web{
    display: block;
  }
    .poster__ad {
        height: 50vh;
    }
    .cover__page {
      background-image: url('../../assets/img/home.png');
      background-repeat: no-repeat;
      background-size: 100%;
      min-height: 1000px;
      height: unset;
  }

  .grid_double div div {
    flex: 1 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 6em;
  }

  .grid_double {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    min-height: 120vh;
    height: inherit;
  }

.contratar__mobil{
  display: none;
}
.contratar__mobil__a{
  display: none;
}
.desktop_info{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
.mobile_info{
    display: none;
}
}

.contratar__mobil__a {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.content__poster {
    background: #f8f8f8;
    max-height: 30%;
    padding: 1rem;
    position: absolute;
    bottom: 7rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.content__poster p{
 text-align: center;
 font-size: 13px;
}

.content__poster .txt__blue {
    color: $title;
    font-size: $title-desk;
    font-size: 18px;
}

@media screen and (min-width: 768px) {
    .content__poster .txt__blue {
        color: $title;
        font-size: $title-desk;
        font-size: 18px;
    }
}

.content__poster .btn-home {
    background: #265CFF;
    opacity: .8;
    margin-top: 1rem;

    &:hover {
     background-color: darken($color: #265CFF, $amount: 15);
    }
}
