.Drop__file {
    padding: 1rem;
    padding-top: 2rem;
    max-height: 100%;
}

.Drop__file .title__video {
    color: $title;
    font-size: 22px;
}

.dobule_section_grid {
  display: inherit;
}

.triple_section_grid {
  display: inherit;
}

@media (min-width: 768px){
  .dobule_section_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }

  .triple_section_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
