@import './base/base';
@import './base/settings';

//Components
@import './components/header';
@import './components/home';
@import './components/contrat';
@import './components/planMensual';
@import './components/planPorDia';
@import './components/dropFile';
@import './components/uploadFiles';
@import './components/buttons';
@import './components/screenOne';
@import './components/buyConfirm';
@import './components/ticket';
@import './components/ending';
@import './components/totalMount';

    .main__container {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

  .class__header {
    flex-shrink: 0;
    background-color: #037cf5;
  }

  @media screen and (min-width: 768px) {
    footer {
      height: 50px;
      flex-shrink: 0;
      background-color: #134c7d;
      min-height: 150px;
    }

  }
  footer {
    height: unset;
    flex-shrink: 0;
    background-color: #134c7d;
  }

  .class__main {
    flex: 1 0 auto;
  }